# Homework: Lists and Conditional Logic

## **Submission Guidelines**
* Focus on completing Exercises 1, 2 and 3. Exercises 4 and 5 are _stretch challenges_.
* Submit your by copy and pasting each exercise into the text submission box for this assessment in brightspace* Clearly label each exercise and include comments to explain your logic.

## Instructions

Complete the following exercises in a single Python file or Jupyter Notebook. Clearly label each exercise and include comments explaining your logic. Focus on completing Exercises 1–3; Exercises 4 and 5 are stretch challenges. **Do not use loops or built-in aggregate functions in Exercises 4 and 5.** Use only basic variables, list indexing (referring to the first element, second element, etc.), conditionals, and arithmetic operations.

Focus on completing Exercises 1–3. Exercises 4 and 5 are stretch challenges.

**Remember to start with the English steps, write pseudocode, then write code.**

### Exercise 1: Basic List Operations

1. **Create a List:** Write code to create a list with 5 elements of your choice.
2. **Print the List:** Display the original list.
3. **Modify the List:**
   - Change the second element to a new value.
   - Append a new element to the end of the list.
   - Remove the third element from the list.
4. **Print the Updated List:** Verify your modifications by printing the final list.

In [200]:
# Exercise 1, Step 1: Create a list with 5 elements
# Your code here
games = ['xbox','playstation','switch']

In [14]:
# Exercise 1, Step 2: Print the original list
# Your code here
print('List of Video Game consoles', games)

List of Video Game consoles ['xbox', 'playstation', 'switch']

In [16]:
# Exercise 1, Step 3: Modify the list
# - Change the second element to a new value
# - Append a new element to the end of the list
# - Remove the third element from the list
# Your code here
games[1] = 'wii'

games.append('PC')

games.pop()

'PC'

In [17]:
# Exercise 1, Step 4: Print the updated list
# Your code here
print('List of Video Game consoles', games)

List of Video Game consoles ['xbox', 'wii', 'switch']

### Exercise 2: Membership Check

1. **Create a List:** Write code to create a list with 5 colors of your choice.
2. **Membership Check:** Check if the color "blue" is in your list.
   - If it is present, print a message confirming that the list contains "blue".
   - If it is not present, print a message indicating that "blue" is not in the list.

*Note:* You do not need to retrieve the position of the element; simply print a confirmation message.

In [19]:
# Exercise 2, Step 1: Create a list with 5 colors
# Your code here
colors = ['purple', 'blue', 'green', 'pink', 'white']

In [26]:
# Exercise 2, Step 2: Check for membership of 'blue'
# Your code here
if 'blue' in colors:
  print('"blue" is in the list')
else:
  print('"blue" is NOT in the list')

"blue" is in the list

### Exercise 3: Real-World List Modification (Hard)

Imagine you are managing a set of 5 numbers (for example, representing test scores). Write a program that performs the following tasks (remember: the first element is the first, the second is the second, and so on):

1. **Initialize the List:** Create a list of 5 numbers.
2. **Conditional Adjustment:** Check if the third element is less than 50.
   - If it is, update that element to 50.
3. **Conditional Penalty:** Calculate the sum of the first element and the last element.
   - If this sum is greater than 100, set the last element to 0.
4. **Swap Operation:** Swap the first element with the third element.
5. **Print the Final List:** Display the modified list.

In [45]:
# Exercise 3, Step 1: Initialize a list of 5 numbers
# Your code here
numbers = [3, 8, 18, 26, 13]
print(numbers)

[3, 8, 18, 26, 13]

In [46]:
# Exercise 3, Step 2: Conditional adjustment - if the third element is less than 50, update it to 50
# Your code here
if numbers[2] < 50:
  numbers[2] = 50
  print(numbers)

[3, 8, 50, 26, 13]

In [60]:
# Exercise 3, Step 3: Conditional penalty - if the sum of the first and last elements is greater than 100, set the last element to 0
# Your code here
if numbers[0] + numbers[4] > 100:
  numbers[4] = 0
  print(numbers)

In [61]:
# Exercise 3, Step 4: Swap the first element with the third element
# Your code here
numbers[0], numbers[2] = numbers[2], numbers[0]

In [62]:
# Exercise 3, Step 5: Print the final list
# Your code here
print(numbers)

[50, 8, 3, 26, 13]

### Exercise 4: Manual Analysis Without Loops or Built-In Functions (Extra Hard)

You are given a list of 10 numbers (for instance, representing grades). Without using loops or built-in functions (such as `sum()`, `len()`, etc.), complete the following tasks by manually accessing each element:

1. **Create a List:** Write code to create a list with 10 numbers.
2. **Compute the Total:** Manually add all the numbers by accessing each element individually.
3. **Calculate the Average:** Divide the total by the number of elements in the list.
4. **Determine the Highest Value:** Use `if` statements to compare the elements and determine the highest value.
5. **Determine the Lowest Value:** Similarly, determine the lowest value among the elements.
6. **Print Your Results:** Display the average, highest, and lowest values.

In [64]:
# Exercise 4, Step 1: Create a list with 10 numbers
# Your code here
number_list = [12, 10, 36, 65, 72, 80, 96, 54, 69, 99]
print(number_list)

[12, 10, 36, 65, 72, 80, 96, 54, 69, 99]

In [69]:
# Exercise 4, Step 2: Manually compute the total of all numbers
# Your code here
manual_compute = number_list[0] + number_list[1] + number_list[2] + number_list[3] + number_list[4] + number_list[5] + number_list[6] + number_list[7] + number_list[8] + number_list[9]

print(manual_compute)

593

In [70]:
# Exercise 4, Step 3: Calculate the average of the numbers
# Your code here
manual_compute / 10

59.3

In [109]:
# Exercise 4, Step 4: Determine the highest value using if statements
# Your code here

if number_list[0] > number_list[1] and number_list[0] > number_list[2] and number_list[0] > number_list[3] and number_list[0] > number_list[4] and number_list[0] > number_list[5] and number_list[0] > number_list[6] and number_list[0] > number_list[7] and number_list[0] > number_list[8] and number_list[0] > number_list[9]:
  highest_value = number_list[0]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[1] > number_list[2] and number_list[1] > number_list[3] and number_list[1] > number_list[4] and number_list[1] > number_list[5] and number_list[1] > number_list[6] and number_list[1] > number_list[7] and number_list[1] > number_list[8] and number_list[1] > number_list[9]:
  highest_value = number_list[1]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[2] > number_list[3] and number_list[2] > number_list[4] and number_list[2] > number_list[5] and number_list[2] > number_list[6] and number_list[2] > number_list[7] and number_list[2] > number_list[8] and number_list[2] > number_list[9]:
  highest_value = number_list[2]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[3] > number_list[4] and number_list[3] > number_list[5] and number_list[3] > number_list[6] and number_list[3] > number_list[7] and number_list[3] > number_list[8] and number_list[3] > number_list[9]:
  highest_value = number_list[3]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[4] > number_list[5] and number_list[4] > number_list[6] and number_list[4] > number_list[7] and number_list[4] > number_list[8] and number_list[4] > number_list[9]:
  highest_value = number_list[4]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[5] > number_list[6] and number_list[5] > number_list[7] and number_list[5] > number_list[8] and number_list[5] > number_list[9]:
  highest_value = number_list[5]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[6] > number_list[7] and number_list[6] > number_list[8] and number_list[6] > number_list[9]:
  highest_value = number_list[6]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[7] > number_list[8] and number_list[7] > number_list[9]:
  highest_value = number_list[7]
  print(str(highest_value) + " is the highest value in the list")

elif number_list[8] > number_list[9]:
  highest_value = number_list[8]
  print(str(highest_value) + " is the highest value in the list")

else:
  print(str(highest_value) + " is the highest value in the list")
  highest_value = number_list[9]

99 is the highest value in the list

In [112]:
# Exercise 4, Step 5: Determine the lowest value using if statements
# Your code here
if number_list[0] < number_list[1] and number_list[0] < number_list[2] and number_list[0] < number_list[3] and number_list[0] < number_list[4] and number_list[0] < number_list[5] and number_list[0] < number_list[6] and number_list[0] < number_list[7] and number_list[0] < number_list[8] and number_list[0] < number_list[9]:
  lowest_value = number_list[0]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[1] < number_list[2] and number_list[1] < number_list[3] and number_list[1] < number_list[4] and number_list[1] < number_list[5] and number_list[1] < number_list[6] and number_list[1] < number_list[7] and number_list[1] < number_list[8] and number_list[1] < number_list[9]:
  lowest_value = number_list[1]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[2] < number_list[3] and number_list[2] < number_list[4] and number_list[2] < number_list[5] and number_list[2] < number_list[6] and number_list[2] < number_list[7] and number_list[2] < number_list[8] and number_list[2] < number_list[9]:
  lowest_value = number_list[2]
  rint(str(lowest_value) + " is the lowest value in the list")

elif number_list[3] < number_list[4] and number_list[3] < number_list[5] and number_list[3] < number_list[6] and number_list[3] < number_list[7] and number_list[3] < number_list[8] and number_list[3] < number_list[9]:
  lowest_value = number_list[3]
  print(str(number_list[3]) + " is the lowest value in the list")

elif number_list[4] < number_list[5] and number_list[4] < number_list[6] and number_list[4] < number_list[7] and number_list[4] < number_list[8] and number_list[4] < number_list[9]:
  lowest_value = number_list[4]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[5] < number_list[6] and number_list[5] < number_list[7] and number_list[5] < number_list[8] and number_list[5] < number_list[9]:
  lowest_value = number_list[5]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[6] < number_list[7] and number_list[6] < number_list[8] and number_list[6] < number_list[9]:
  lowest_value = number_list[6]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[7] < number_list[8] and number_list[7] < number_list[9]:
  lowest_value = number_list[7]
  print(str(lowest_value) + " is the lowest value in the list")

elif number_list[8] < number_list[9]:
  owest_value = number_list[8]
  print(str(lowest_value) + " is the lowest value in the list")

else:
  lowest_value = number_list[9]
  print(str(lowest_value) + " is the lowest value in the list")

10 is the lowest value in the list

In [113]:
# Exercise 4, Step 6: Print the average, highest, and lowest values
# Your code here

print("Average is " + str(manual_compute) + "." + " Highest value is " + str(highest_value) + "." + " Lowest value is " + str(lowest_value) + ".")

Average is 593. Highest value is 99. Lowest value is 10.

### Exercise 5: Vowel Filter Without Loops (Nearly Impossible)

Create a program that filters a list of 7 strings to include only those that start with a vowel. **Do not use loops.** Instead, use individual conditional statements and manual indexing.

1. **Create a List:** Write code to create a list with 7 strings of your choice.
2. **Filter the List:** For each string in the list, check if its first character is a vowel (a, e, i, o, or u).
   - *Hint:* To access the first character of a string, use `string[0]`.
   - For each string that starts with a vowel, add it to a new list manually.
3. **Print the New List:** Display the list of strings that begin with a vowel.

In [177]:
# Exercise 5, Step 1: Create a list with 7 strings
# Your code here
strings = ['this', 'is', 'a', 'list', 'of', 'seven', 'strings']

l

In [206]:
# Exercise 5, Step 2: Filter the list to include only strings that start with a vowel
# Your code here

new_strings = [ ]

if strings[0][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[0])
if strings[1][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[1])
if strings[2][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[2])
if strings[3][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[3])
if strings[4][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[4])
if strings[5][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[5])
if strings[6][0] in {'a', 'e', 'i', 'o', 'u'}:
  new_strings.append(strings[6])
else:
  print('no vowels found')

no vowels found

In [208]:
# Exercise 5, Step 3: Print the new list of strings that start with a vowel
# Your code here

print(new_strings)

['is', 'a', 'of']

### Submission Guidelines

- Submit your work as a single Python file (`.py`) or a Jupyter Notebook (`.ipynb`).
- Clearly label each exercise and include comments to explain your logic.
- Focus on completing Exercises 1–3; Exercises 4 and 5 are stretch challenges.
- Do not use loops or built-in aggregate functions in Exercises 4 and 5.

Good luck, and have fun practicing your list and conditional skills!